<!-- footer -->
<footer  class="py-5">
  <div class="container">
      <div class=" footer-content row justify-content-center">
          <div class="col-lg-2 col-6 mb-3 ">
              <img src="assets/whitelogowithdotcom.png">
              <ul>
                  <li><a href="">About Us</a></li>
                  <li><a href="">Our Team</a></li>
                  <li><a href="">Careers</a></li>
                  <li><a href="">Press</a></li>
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>Search by</h3>
              <ul>
                  <li><a href="">Speciality</a></li>
                  <li><a href="">Area</a></li>
                  <li><a href="">Insurance</a></li>
                  <li><a href="">Hospital</a></li>
                  <li><a href="">Center</a></li>
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>Are you a doctor ?</h3>
              <ul>
                  <li><a href="" routerLink="/SignInDoctor">Join Vezeeta doctors</a></li>                   
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3">
              <h3>Need help?</h3>
              <ul>
                  <li><a href="">Medical Q&As</a></li>                   
                  <li><a href="" routerLink="/ContactUs">Contact Us</a></li>                   
                  <li><a href="" >Terms Of Use </a></li>                   
                  <li><a href="" routerLink="/PrivatePolicy">Privacy Policy</a></li>                   
                  <li><a href="">Doctors Privacy Policy</a></li>                   
              </ul>

          </div>
          <div class="col-lg-2 col-6 mb-3 text-center">
              <img src="assets/google-play-badge.jfif" alt="">
              <img src="assets/app-store-badge.png" alt="">
              
              <div class="social text-lg-start text-center">
                  <ul>
                      <li><a href="" class=""><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="" class=""><i class="fab fa-instagram"></i></a></li>
                      <li><a href="" class=""><i class="fab fa-twitter"></i></a></li>
                  </ul>
  
              </div>

          </div>
      </div>

     
  </div>


</footer>
