<div class="h-100 w-100 d-flex align-items-center">
    <div class="searchAdoctor pt-5 position-relative  w-100">
        <div class="container  py-5">
          <h1 class="text-black-50 headd">Better Healthcare for a Better Life</h1>
          <h3 class="text-black-50 headd">Book online or call <i class="fas fa-phone text-danger "></i> 16676</h3>
        </div>

       <div class=" h-50 d-flex align-items-center">
        <div  class=" search-nav  p-0 d-none d-md-block">
            <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link w-50 active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                <div class="booking d-flex justify-content-center w-100 align-items-center  active">
                    <i class="far fa-calendar-plus me-3"></i>
                    <div class="">
                      <h4 class="m-0">Book a doctor</h4>
                      <span class="d-none d-md-block">Examination or procedure</span>
                    </div>
                  </div>
            </button>
            <button class="nav-link w-50" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                <div class="telephone d-flex justify-content-center w-100  align-items-center">
                    <i class="fas fa-headset me-3"></i>
                    <div class="">
                      <h4 class="m-0">Telehealth</h4>
                      <span class="d-none d-md-block">Call consultation with doctor</span>
                    </div>
                  </div>
            </button>

          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

           <div class="searchForAdoctor p-3 d-flex flex-column flex-md-row">
            <div class="dropdown">
              <button class="speciality border p-2 d-flex justify-content-between align-items-center bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex flex-column" style="width: calc(100% - 10px);">
                <span class="text-black-50 text-start" style="font-size: 12px;">choose a speciality</span>
                 <span class="d-flex specia"><i class="fas fa-stethoscope "></i> choose a speciality</span>
                 <select class="form-control" name="cat" id="cat" [(ngModel)]="selectedSpecialityID" >
                    <option value="0">All Specialities</option> 
                       <option *ngFor="let spe of speciality" [value]="spe.id">{{spe.Name}}</option>
                   </select>
                </div>
                <i class="fas fa-caret-down"></i>
              
               </button>
               <!-- test Amany -->
              <!-- <ul class="dropdown-menu">
                 <ng-container *ngFor="let spe of speciality;let i=index">
     

                    <li><a class="dropdown-item" >{{spe.Name}}</a></li>
                    
                  </ng-container>

                  
              </ul> -->
            </div>

            <div class="dropdown">
              <button class="border p-2 d-flex justify-content-between align-items-center bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex flex-column" style="width: calc(100% - 10px);">
                <span class="text-black-50 text-start" style="font-size: 12px;">in this city</span>
                 <span class="d-flex specia"><i class="fas fa-location-dot me-2"></i> choose city</span>
                 <select class=" form-control" name="cat" id="cat" [(ngModel)]="selectedCityID" >
                    <option value="0">All Cities</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{city.Name}}</option>
                </select>
                </div>
                <i class="fas fa-caret-down"></i>
               </button>
              <!-- <ul class="dropdown-menu"> -->
                <!-- <select class="dropdown-menu form-control" name="cat" id="cat" [(ngModel)]="selectedCityID" >
                    <option value="0">All</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{city.Name}}</option>
                </select> -->
                <!-- <ng-container *ngFor="let city of cities;let i=index">
     

                    <li><a class="dropdown-item" href="#">{{city.Name}}</a></li>
                    
                  </ng-container> -->
               
              <!-- </ul> -->
            </div>
            <div class="dropdown d-none d-md-block">
                <button class="border p-2 d-flex justify-content-between align-items-center bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="d-flex flex-column" style="width: calc(100% - 10px);">
                  <span class="text-black-50 text-start" style="font-size: 12px;">in this area</span>
                   <span class=" d-flex specia"><i class="fas fa-location-dot me-2"></i> choose area</span>
                   <select class="form-control" name="cat" id="cat" [(ngModel)]="selectedSpecialityID" >
                    <option value="0">All Area</option> 
                      
                   </select>
                  </div>
                  <i class="fas fa-caret-down"></i>
                 </button>
                <!-- <ul class="dropdown-menu">
                    <li>All Area</li>
                </ul> -->
              </div>

            <div class="d-none d-md-block doctorName border ps-2 pt-2">
                <h5 class="text-black-50">or search by name</h5>
                <div class="d-flex align-items-center">
                  <i class="me-2 fas fa-user-doctor"></i>
                  <input type="text" [(ngModel)]="doctorName" placeholder="Doctor name">
                </div>
              </div>

            <div class="searchh text-light fw-bold fs-5 text-center d-flex justify-content-center align-items-center" routerLink="/searchResult" (onclick)="SearchDoctor()">
                <i class="bi bi-search me-2"></i>
                <span>search</span>
              </div>
          </div>


          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="searchForAdoctor p-3 d-flex flex-column flex-md-row justify-content-center">
                <div class="dropdown">
                  <button class="speciality border p-2 d-flex justify-content-between align-items-center bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex flex-column" style="width: calc(100% - 10px);">
                    <span class="text-black-50 text-start" style="font-size: 12px;">choose a speciality</span>
                     <span class="d-flex specia"><i class="fas fa-stethoscope me-2"></i> choose a speciality</span>
                     <select class="form-control" name="cat" id="cat" [(ngModel)]="selectedSpecialityID" >
                        <option value="0">All Specialities</option> 
                           <option *ngFor="let spe of speciality" [value]="spe.id">{{spe.Name}}</option>
                       </select>
                    </div>
                    <i class="fas fa-caret-down"></i>
                   </button>

                  
                  <!-- <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                      <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                      <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                      <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                      <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                      <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                      <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                      <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                      <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                      <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                      <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                      <li><a class="dropdown-item" href="#">Audiology</a></li>
                      <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                      <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                      <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                      <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                      <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                  </ul> -->
                </div>



                <div class="searchh text-light fw-bold fs-5 text-center d-flex justify-content-center align-items-center">
                    <i class="bi bi-search me-2"></i>
                    <span>search</span>
                  </div>
              </div>
          </div>

        </div>
        </div>
        <div  class="container-fluid search-nav-mobile mt-5 p-0 d-md-none px-2">
            <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link  active " id="nav-clinck-tab" style="width:33%" data-bs-toggle="tab" data-bs-target="#nav-clinck" type="button" role="tab" aria-controls="nav-clinck" aria-selected="true">
                <div class="booking d-flex justify-content-center  align-items-center flex-column active">
                    <i class="far fa-calendar-plus me-3"></i>
                    <div>

                      <h5 class="m-0">Clinic Visit</h5>

                    </div>
                  </div>
            </button>
            <button class="nav-link " id="nav-order-tab" style="width:33%" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                <div class="telephone d-flex justify-content-center   align-items-center  flex-column">
                    <!-- <i class="fas fa-headset me-3"></i> -->
                    <i class="bi bi-capsule"></i>
                    <div>

                      <h5 class="m-0">Order Medicine</h5>

                    </div>
                  </div>
            </button>
            <button class="nav-link" id="nav-doctor-tab" style="width:33%" data-bs-toggle="tab" data-bs-target="#nav-doctor" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                <div class="telephone d-flex justify-content-center   align-items-center flex-column">
                    <!-- <i class="fas fa-headset me-3"></i> -->
                    <i class="bi bi-telephone"></i>
                    <div>


                      <h5 class="m-0 text-center">Doctor Call</h5>

                    </div>
                  </div>
            </button>

          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-clinck" role="tabpanel" aria-labelledby="nav-clinck-tab" tabindex="0">


            <div class="my-search">
                <button class="btn btn-search w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Search for specialty, doctor or hospital</button>

                <div class="offcanvas offcanvas-top h-100" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <h5 class="offcanvas-title text-center w-75" id="offcanvasScrollingLabel">Search</h5>

                </div>
                <div class="offcanvas-body">
                    <ul class=" ">
                        <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                        <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                        <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                        <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                        <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                        <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                        <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                        <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                        <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                        <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                        <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                        <li><a class="dropdown-item" href="#">Audiology</a></li>
                        <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                        <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                        <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                        <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                        <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                    </ul>

                </div>
                </div>
                <div class="">
                    <button class="btn btn-search w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Search for specialty, doctor or hospital</button>

                <div class="offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <h5 class="offcanvas-title w-75" id="offcanvasScrollingLabel">Search</h5>

                </div>
                <div class="offcanvas-body">
                    <ul class=" ">
                        <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                        <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                        <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                        <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                        <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                        <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                        <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                        <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                        <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                        <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                        <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                        <li><a class="dropdown-item" href="#">Audiology</a></li>
                        <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                        <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                        <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                        <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                        <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                    </ul>

                </div>
                </div>
                </div>
            </div>
            <div>
                <button class="btn Brwose w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Brwose Doctor</button>
                <div class="offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        <h5 class="offcanvas-title w-75" id="offcanvasScrollingLabel">Search</h5>

                    </div>
                    <div class="offcanvas-body">
                        <ul class=" ">
                            <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                            <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                            <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                            <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                            <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                            <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                            <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                            <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                            <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                            <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                            <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                            <li><a class="dropdown-item" href="#">Audiology</a></li>
                            <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                            <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                            <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                            <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                            <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                        </ul>

                    </div>
                    </div>

               <p class="text-center my-2">Or call <span class="call-num fw-bolder ">16676</span></p>
            </div>

          </div>
          <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab" tabindex="0">
           <div>
            <input type="text" placeholder=" Search of aproduct" class="search-in-mobile">
            <p class="text-center my-2">Or call <span class="call-num fw-bolder ">16676</span></p>
           </div>
          </div>
          <div class="tab-pane fade" id="nav-doctor" role="tabpanel" aria-labelledby="nav-doctor-tab" tabindex="0">
            <div class="tab-pane fade show active" id="nav-clinck" role="tabpanel" aria-labelledby="nav-clinck-tab" tabindex="0">


                <div class="my-search">

                    <div class="">
                        <button class="btn btn-search w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Search for specialty, doctor or hospital</button>

                    <div class="offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title w-75" id="offcanvasScrollingLabel">Search</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class=" ">
                            <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                            <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                            <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                            <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                            <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                            <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                            <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                            <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                            <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                            <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                            <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                            <li><a class="dropdown-item" href="#">Audiology</a></li>
                            <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                            <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                            <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                            <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                            <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                        </ul>

                    </div>
                    </div>
                    </div>
                </div>
                <div>
                    <button class="btn Brwose w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offbrwose" aria-controls="offcanvasScrolling">Brwose Doctor</button>
                    <div class="offcanvas offcanvas-top h-100" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offbrwose" aria-labelledby="offcanvasScrollingLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            <h5 class="offcanvas-title w-75" id="offcanvasScrollingLabel">Search</h5>

                        </div>
                        <div class="offcanvas-body">
                            <ul class=" ">
                                <li><a class="dropdown-item" href="#">Dermatology (Skin)</a></li>
                                <li><a class="dropdown-item" href="#">Dentistry (Teeth)</a></li>
                                <li><a class="dropdown-item" href="#">Psychiatry (Mental, Emotional or Behavioral Disorders)</a></li>
                                <li><a class="dropdown-item" href="#">Pediatrics and New Born (Child)</a></li>
                                <li><a class="dropdown-item" href="#">Neurology (Brain & Nerves)</a></li>
                                <li><a class="dropdown-item" href="#">Orthopedics (Bones)</a></li>
                                <li><a class="dropdown-item" href="#">Gynaecology and Infertility</a></li>
                                <li><a class="dropdown-item" href="#">Ear, Nose and Throat</a></li>
                                <li><a class="dropdown-item" href="#">Cardiology and Vascular Disease (Heart)</a></li>
                                <li><a class="dropdown-item" href="#">Allergy and Immunology (Sensitivity and Immunity)</a></li>
                                <li><a class="dropdown-item" href="#">Andrology and Male Infertility</a></li>
                                <li><a class="dropdown-item" href="#">Audiology</a></li>
                                <li><a class="dropdown-item" href="#">Cardiology and Thoracic Surgery (Heart & Chest)</a></li>
                                <li><a class="dropdown-item" href="#">Chest and Respiratory</a></li>
                                <li><a class="dropdown-item" href="#">Diabetes and Endocrinology</a></li>
                                <li><a class="dropdown-item" href="#">Diagnostic Radiology (Scan Centers)</a></li>
                                <li><a class="dropdown-item" href="#">Dietitian and Nutrition</a></li>
                            </ul>

                        </div>
                        </div>

                   <p class="text-center my-2">Or call <span class="call-num fw-bolder ">16676</span></p>
                </div>

              </div>
          </div>

        </div>
        </div>
       </div>
      </div>


  </div>

    <!-- New services -->
    <section class="upper-footer py-5">
        <div class="container new">
            <h2>New services for better healthcare</h2>
            <div class="new-content row align-items-center mb-5">
                <div class="col-lg-2  col-4 py-2">
                    <img src="assets/qnaDoctor.webp" alt="">
                </div>
               <div class="col-lg-10 col-8 row">
                <div class="col-lg-8 col-12">
                    <h3>Have a Medical Question?</h3>
                    <p>Submit your medical question and receive an answer from a specialized doctor</p>

                </div>
                <div class="col-lg-4 col-12">
                    <button class="ask">Ask now</button>
                </div>
               </div>

            </div>
            <div class="pharm row p-lg-5 mb-5">
                <div class="w-100 d-flex">
                    <div class="pharm-img">
                        <img src="assets/Pharmacy.webp" alt="" height="54" width="54">
                    </div>
                    <div class="ps-2">
                        <h3>Pharmacy</h3>
                        <p>Get your medicine and all your pharmacy needs.</p>
                    </div>
                </div>
                <button class="place">Place order</button>


            </div>

            <div class="new-two row">
                <div class="col-lg-6">
                    <div class="tele row mb-5">
                        <div class="col-4">
                            <img src="assets/desktop.jfif" alt="">
                        </div>
                        <div class="col-8 ">
                           <div class=" tele-content d-block">
                            <h3>Teleconsultation</h3>
                            <p>Schedule a voice or video call with a specialized doctor.</p>
                            <a>Book a Call  <i class="fas fa-angle-right text-danger"></i></a>

                           </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="tele row mb-5">
                        <div class="col-4">
                            <img src="assets/mobile.jfif" alt="">
                        </div>
                        <div class="col-8 p-3">
                           <div class="tele-content d-block">
                            <h3>Home Visit</h3>
                            <p>Choose the specialty, and the doctor will visit you at home.</p>
                            <a>Book a visit <i class="fas fa-angle-right text-danger"></i></a>

                           </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </section>


    <!-- Top Offer -->
    <section class="top-offer p-5 ">
        <div class="container ">
           <div class="top-offer-head d-flex justify-content-between">
            <h2>Choose from top offers</h2>
            <a routerLink="/Offers">All Offers <i class="fas fa-angle-right text-danger"></i></a>
           </div>

            <div>
                <div id="slider-one" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row ">
                            <div class="col-lg-3 col-6">
                               <div class="p-1 text-start position-relative">
                                <span class="off">70% OFF</span>
                                <img src="assets/desktop.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>
                                <span class="old-price">500</span>
                                <span class="offer-price">150 EGP</span>
                                <p>236 Offers</p>
                               </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                   </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="row ">
                            <div class="col-lg-3 col-6">
                               <div class="p-1 text-start position-relative">
                                <span class="off">70% OFF</span>
                                <img src="assets/desktop.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>
                                <span class="old-price">500</span>
                                <span class="offer-price">150 EGP</span>
                                <p>236 Offers</p>
                               </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                   </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="row ">
                            <div class="col-lg-3 col-6">
                               <div class="p-1 text-start position-relative">
                                <span class="off">70% OFF</span>
                                <img src="assets/desktop.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>
                                <span class="old-price">500</span>
                                <span class="offer-price">150 EGP</span>
                                <p>236 Offers</p>
                               </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                   </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <div class="p-1 text-start position-relative">
                                    <span class="off">70% OFF</span>
                                    <img src="assets/desktop.webp" width="" alt="">
                                    <h4>Teeth Cleaning</h4>
                                    <span class="old-price">500</span>
                                    <span class="offer-price">150 EGP</span>
                                    <p>236 Offers</p>
                                </div>
                            </div>
                        </div>
                      </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slider-one" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slider-one" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>

        </div>

    </section>

    <!-- Book from Top -->
    <section class="book-from-top p-5">
        <div class="container">
            <h2>Book from top specialties</h2>
            <div id="slider-two" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row ">
                        <div class="col-lg-3 col-6 mb-3">
                           <div class=" text-start position-relative  book-slide">

                            <img src="assets/teethSlide.webp" width="" alt="">
                            <h4>Teeth Cleaning</h4>

                           </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                               </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                    </div>

                  </div>
                  <div class="carousel-item">
                    <div class="row ">
                        <div class="col-lg-3 col-6 mb-3">
                           <div class=" text-start position-relative book-slide">

                            <img src="assets/teethSlide.webp" width="" alt="">
                            <h4>Teeth Cleaning</h4>

                           </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                               </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row ">
                        <div class="col-lg-3 col-6 mb-3">
                           <div class=" text-start position-relative book-slide">

                            <img src="assets/teethSlide.webp" width="" alt="">
                            <h4>Teeth Cleaning</h4>

                           </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                               </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                        <div class="col-lg-3 col-6 mb-3">
                            <div class=" text-start position-relative book-slide">

                                <img src="assets/teethSlide.webp" width="" alt="">
                                <h4>Teeth Cleaning</h4>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slider-two" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slider-two" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>


        </div>
    </section>


    <!-- dawnload -->
    <section class="dawnload-veseeta p-lg-5">
        <div class="container">
            <div class="row top-dawnload">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="row">
                        <div class=" col-md-12 col-2">
                            <img src="assets/medical-care-icon.svg" alt="">
                        </div>
                       <div class="col-md-12 col-10">
                        <h3>All your healthcare needs</h3>
                        <p>Search and book a clinic visit, home visit,
                            or a teleconsultation. Order your medicine and book a service or operation.</p>
                       </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="row">
                       <div class=" col-md-12 col-2">
                        <img src="assets/doctor-icon.svg" alt="">
                       </div>
                       <div class="col-md-12 col-10">
                        <h3>Verified patient reviews</h3>
                        <p>Search and book a clinic visit, home visit,
                            or a teleconsultation. Order your medicine and book a service or operation.</p>
                       </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="row">
                       <div class="col-md-12 col-2">
                        <img src="assets/booking-icon.svg" alt="">
                       </div>
                        <div class="col-md-12 col-10">
                            <h3>Your booking is confirmed</h3>
                            <p>Search and book a clinic visit, home visit,
                            or a teleconsultation. Order your medicine and book a service or operation.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="row">
                       <div class="col-md-12 col-2">
                        <img src="assets/security-icon.svg" alt="">
                       </div>
                       <div class="col-md-12 col-10">
                        <h3>Book for free, and pay in the clinic </h3>
                        <p>Search and book a clinic visit, home visit,
                            or a teleconsultation. Order your medicine and book a service or operation.</p>
                       </div>
                    </div>

                </div>

            </div>

            <div class="row contain-dawnload-icon">
                <div class="col-lg-6  p-lg-5">
                    <h1>Download Vezeeta Application</h1>
                    <p>Search, compare and book doctor consultations with ease. Order your medicines & get them deilvered within 60 minutes.
                        Track your steps count & earn points on hitting the daily goal</p>
                        <div class="row ">
                            <div class="col-4  p-3">
                                <a href="" class="row align-items-center p-2 dawonload-icon">
                                    <div class="col-4">
                                        <img src="assets/apple-logo.svg" alt="">

                                    </div>
                                    <div class="col-8">
                                        <span>App Store</span>

                                    </div>
                                </a>
                            </div>
                            <div class="col-4 p-3">
                                <a href="" class=" row align-items-center p-2 dawonload-icon">
                                    <div class="col-4">
                                        <img src="assets/google-play-logo.svg" alt="">

                                    </div>
                                    <div class="col-8">
                                        <span>Google Play</span>

                                    </div>
                                </a>
                            </div>
                            <div class=" col-4 p-3">
                                <a href="" class=" row align-items-center p-2 dawonload-icon">
                                    <div class="col-4">
                                        <img src="assets/AppGallery.svg" alt="">

                                    </div>
                                    <div class="col-8">
                                        <span>App Gallery</span>

                                    </div>
                                </a>
                            </div>

                        </div>


                </div>
                <div class="col-lg-5 offset-lg-1 img-dawn p-5 pb-0">
                    <img src="assets/dowanloadApp-eg-en.jfif" alt="">
                </div>

            </div>

        </div>

    </section>
    <!-- Upper footer -->

    <section class="upper-footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Choose and book from top specialties</h3>
                    <a href="">Dentist</a>
                    <a href="">Psychiatrist</a>
                    <a href="">Pediatrician</a>
                    <a href="">Neurologist</a>
                    <a href="">Orthopedist</a>
                    <a href="">Gynecologist</a>
                    <a href="">ENT Doctor</a>
                    <a href="">Cardiologist</a>

                </div>
                <div class="col-lg-6">
                    <h3>Choose and book from top cities</h3>
                    <a href="">Giza</a>
                    <a href="">Alexandria</a>
                    <a href="">North Coast</a>
                    <a href="">North Coast</a>
                    <a href="">Qalyubia</a>
                    <a href="">Gharbia</a>
                    <a href="">Menoufia</a>
                    <a href="">Fayoum</a>
                    <a href="">El-Dakahlia</a>

                </div>

            </div>
        </div>

    </section>

